apiVersion: v1
kind: Namespace
metadata:
  name: __NAMESPACE__
  labels:
    app.kubernetes.io/name: dtm
    app.kubernetes.io/instance: __APP_NAME__
---
apiVersion: v1
kind: Secret
metadata:
  name: __APP_NAME__-store
  namespace: __NAMESPACE__
  labels:
    app.kubernetes.io/name: dtm
    app.kubernetes.io/instance: __APP_NAME__
type: Opaque
stringData:
  STORE_PASSWORD: "__STORE_PASS__"
  DB_ADMIN_PASSWORD: "__DB_ADMIN_PASS__"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: __APP_NAME__-config
  namespace: __NAMESPACE__
  labels:
    app.kubernetes.io/name: dtm
    app.kubernetes.io/instance: __APP_NAME__
data:
  STORE_DRIVER: "__STORE_DRIVER__"
  STORE_HOST: "__STORE_HOST__"
  STORE_PORT: "__STORE_PORT__"
  STORE_USER: "__STORE_USER__"
  STORE_DB: "__STORE_DB__"
  STORE_SCHEMA: "__STORE_SCHEMA__"
  DB_INIT_ENABLED: "__DB_INIT_ENABLED__"
  DB_ADMIN_USER: "__DB_ADMIN_USER__"
  REDIS_PREFIX: "__REDIS_PREFIX__"
  DATA_EXPIRE: "__DATA_EXPIRE__"
  FINISHED_DATA_EXPIRE: "__FINISHED_DATA_EXPIRE__"
  HTTP_PORT: "__HTTP_PORT__"
  GRPC_PORT: "__GRPC_PORT__"
  JSONRPC_PORT: "__JSONRPC_PORT__"
  MICRO_SERVICE_END_POINT: "__MICRO_SERVICE_END_POINT__"
  TRANS_CRON_INTERVAL: "__TRANS_CRON_INTERVAL__"
  TIMEOUT_TO_FAIL: "__TIMEOUT_TO_FAIL__"
  RETRY_INTERVAL: "__RETRY_INTERVAL__"
  REQUEST_TIMEOUT: "__REQUEST_TIMEOUT__"
  LOG_LEVEL: "__LOG_LEVEL__"
  ADMIN_BASE_PATH: "__ADMIN_BASE_PATH__"
